params {
  seg = "/mnt/storageBig8/work/micoli/SCNA_Purple/results/250701/segmentation_info_final.tsv"
  pp = "/mnt/storageBig8/work/micoli/SCNA_Purple/results/250701/purity_ploidy_estimates.tsv"
  snp_path = "/mnt/storageBig8/work/micoli/SCNA_Purple/results/250701/"
  batch_info = "/mnt/storageBig8/work/micoli/tumor_evolution/clones_analysis/batch_info_server.tsv"
  conversion_table = "/mnt/storageBig8/resources/processed_data/HERCULES/WGSbams/sample_names/sample_names.csv"
  harmonization_function = "/mnt/storageBig8/work/micoli/tumor_evolution/ALPACA/ALPACA_run/src/assets/1_harmonization_function.R"
  tree_conversion_functions = "/mnt/storageBig8/work/micoli/tumor_evolution/ALPACA/ALPACA_run/src/assets/2_tree_conversion_functions.R"
  ci_functions = "/mnt/storageBig8/work/micoli/tumor_evolution/ALPACA/ALPACA_run/src/assets/3_ci_functions.R"
  clones_comparison_functions = "/mnt/storageBig8/work/micoli/tumor_evolution/ALPACA/ALPACA_run/src/assets/5_clones_comparison_functions.R"
}

env {
  GUROBI_HOME = '/opt/share/gurobi1302/linux64'
  GRB_LICENSE_FILE = '/opt/share/gurobi1302/gurobi.lic'
  LD_LIBRARY_PATH = "${System.getenv('LD_LIBRARY_PATH')}:${env.GUROBI_HOME}/lib"
}

process {
  executor = 'slurm'
  queue = 'general'
  errorStrategy = 'ignore'
  withName: 'REFPHASE' { 
    conda = "/mnt/storageBig8/work/micoli/miniconda3/envs/alpaca" 
    memory = 8.GB
    cpus = 4
  }
  withName: 'ALPACA' {
    conda = "/mnt/storageBig8/work/micoli/miniconda3/envs/alpaca"
    cpus = 8
    memory = 16.GB
    maxRetries = 2
    maxForks = 2
  }
  withName: 'CALCULATE_CCD|CALCULATE_WGD|PLOT_TUMOUR' {
    conda = "/mnt/storageBig8/work/micoli/miniconda3/envs/alpaca"
  }
}

conda.enabled = true

executor {
  name = 'slurm'
  queueSize = 60
}
